<h1> Edit a Cat </h1>

<%= simple_form_for @job do |f| %>

	<%= f.input :title %>
	<%= f.input :description %>
	<%= f.input :wage_lower_bound, :label => "养猫年预算上限" %>
    <%= f.input :wage_upper_bound, :label => "养猫年预算下限" %>
    <%= f.input :contact_email %>
    <%= f.input :is_hidden %>


	<%= f.submit "Submit"  %>

<% end %>
