<h3> 投交履历到 <%= @job.title %> </h3>

<hr>

<%= simple_form_for [@job, @resume] do |f| %>
   <%= f.input :content %>
   <%= f.input :attachment %>

   <%= f.submit "送出" %>
<% end %>

<!-- <h1> Add a Cat </h1>

<%= simple_form_for @job do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :wage_lower_bound, :label => "预计年不在家天数" %>
<%= f.input :wage_upper_bound, :label => "养猫预算" %>
<%= f.input :contact_email %>
<%= f.input :is_hidden %>


    <%= f.submit "Submit" %>
<% end %> -->
